$RED: #D10D1D
$WHITE: #F9E6E8
$GREEN: #4CE038
$BLUE: #385FE0

$RED_800: #4D050B
$RED_700: #7D0811
$RED_600: #B20B19
$RED_500: #D10D1D
$RED_400: #F00F21
$RED300: #F33F4E
$RED_200: #F88790

$BLACK: #110D0E
$BLACK_MID: #322729
$GREY: #59504F

$GREEN_HARD: #226819
$GREEN_MID: #349228
$GREEN_LOW: #4DCC3C

$BLUE_HARD: #0D33AF
$BLUE_MID: #2052F7
$BLUE_LOW: #6785EA

$ORANGE_LOW: #EB6E00
$ORANGE_MID: #BF5E08
$ORANGE_HARD: #964C0B

$H1: 44px
$H2: 34px
$H3: 26px
$PARA: 18px



